#video {
    height: 30rem;
}
#video > video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -100;
}
#overlay {
    padding-top: 10rem;
	position: relative;
	padding-bottom: 10rem;
}
#overlay > h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.432);
}