/* ------------------------------------Navigation Bar (Branch)---------------------- */

#navigation-branch nav{
    padding: 0 5% 0 2%;
}
#navigation-branch .navbar-brand img{
    height: 50px;
}
#navigation-branch .navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}
#navigation-branch .nav-item{
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 10px;
}
#navigation-branch .nav-item:hover{
    font-weight: 600;
    font-size: 1.21rem;
    color: white;
}
